.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;

}
body{
    background-size: cover;
    
}
#play{
    font-size: 23px;
    margin: 15px;

}
canvas{
    background-color: aquamarine;
    border: 5px aquamarine;
    border-radius: 20px;
    box-shadow: 9px 9px 9px peru;

}